<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key ="SiteURL" value="https://www.amazon.com.mx/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key ="BrowserDriver" value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
  <connectionStrings>
    <add name="TestDataSetUp.Properties.Settings.constr" connectionString="Data Source=DESKTOP-QB8PUSL\SQLEXPRESS;Initial Catalog=ReportServer$SQLEXPRESS;Persist Security Info=True;User ID=dalvarado; Password=G0o(B3&amp;#81@e"
        providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>